<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{=T.accepted_language or 'en'}}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{{=response.title or request.application}}</title>
<link rel="shortcut icon"
      href="{{=URL(request.application,'static','favicon.ico')}}" 
      type="image/vnd.microsoft.icon"/>
    {{#------  require CSS and JS files for this page (read info in base.css) ------}}
    {{response.files.append(URL(request.application,'static','music2.css'))}}
    
    {{response.files.append(URL(request.application,'static','music_both.css'))}}
    {{response.files.append(URL(request.application,'static','superfish.js'))}}
    {{#------ include web2py specific js code (jquery, calendar, form stuff) ------}}
    {{include 'web2py_ajax.html'}}
</head>
<body>

<div class="flash">{{=response.flash or ''}}</div>

<div id="main">
  <div id="header">
    
    <div id="menu"> <a href="{{=URL(r=request,f='user',args='logout',c='default')}}">LOGOUT </a>
     <a href="#">ABOUT US </a>
      <a href="{{=URL(r=request,f='playlist',c='default')}}">PLAYLIST </a>
       <a href="{{=URL(r=request,f='mymusic',c='default')}}">MY SONGS</a>
       <a href="{{=URL(r=request,f='upload',c='default')}}">UPLOAD </a>
        <a href="{{=URL(r=request,f='home',c='default')}}">HOME</a> </div>
    <div id="header-Bottom">
      <div id="logoBlock">
        <h1>My Music</h1>
        <p>EVERYMUSIC YOU WANT TO LISTEN </p>
      </div>
      <div id="navBlock">
         <h3>
       
        <img src="{{=URL(r=request,f='download',args=session.auth.user.pic)}}" width="75px" height="75"/>
            {{=(session.auth.user.first_name).capitalize()}}
         
        </h3>
         </div>

        

    </div>
  </div>
  
  <div id="mainCont">
  {{=ip}}
  
  <div id="footer">
<br /><br /><br /><br />
   <div class="rights">Copyright © 2010 <a href="#">www.mymusic.com.</a> All Rights Reserved.</div>

      <div class="rights">Designed by:Vibhor Goel  and  Sourav Dutta</div>
  </div>
</div>

</body>
</html>
